body {
	bgcolor:#fff;
}

.header {
	height: 60px;
	padding-left:20px;
	padding-right:30px;
	vertical-align:middle;
	text-align: right;
}

.logo {
 	position: middle;
 	height:231px;
 	margin-top:20px;
}

.logo_im {
	position:relative;
	display:block;
	margin-left:auto;
	margin-right:auto;
	margin-top:20px;
}

.footer {
	height:40px;
	background-color: #f2f2f2;
	border-top-color: #e4e4e4;
	border-top-style: solid;
	border-top-width: 1px;
	position:fixed;
	bottom:0;
	width:100%;
}


.hlink {
	display: inline;
	font-size: 13px;
	font-family: arial, sans-serif;
	color:#404040;
	text-decoration:none;
	line-height: 60px;

}

.hlink:hover {
	color:black;
	text-decoration:underline;

}

.hpic {
	display:inline-block;
	opacity:0.6;
	vertical-align:middle;
	cursor: default
}

.hpic:hover {
	opacity:1;
}

#share_b {
	display: inline-block;
	text-align: center;
	right: 10px;
	height:30px;
	width:60px;
	background-color:#EBEBEB;
	border-radius:4px;
	opacity: 0.6
}

#share_text {

	line-height: 30px;
	color: #404040;
	cursor: default;
	text-decoration: none;
	font-size: 13px;
	font-family: arial, sans-serif;
}

#share_b:hover {
	opacity:1;
}

#circle_pic {
	border-radius: 100%;
	height: 32px;
	cursor:default;
	vertical-align:middle;
}

#l_footer {
	float:left;
}

#r_footer {
	float:right;
	margin-right: 30px;

}

.f_links {
	line-height: 40px;
	padding-left: 27px;
	color:#666;
	display:inline-block;
	text-decoration:none;
	font-size: 13px;
	font-family: arial, sans-serif;

}

#search_bar {
	margin-top:20px;
	position:relative;
	height: 22px; 
	text-align: left;
	width:41%;


}

.search {
	text-align: center;
}

.button {
	margin-top:20px;
}